.banner_container {
    background: url("../../../assets/images/partners/top-bg-love-tree-and-earth-tree-story.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    padding: 200px 15px;
}

.banner_title {
    font-weight: bold;
    font-size: 52px;
    padding-top: 65px;
    text-align: center;
    text-shadow: 3px 3px 1px #fff;
}

.tree_tab {
    // background: #005d4f;
    // text-align: center;
    // color: #fff;
    // font-weight: bold;
    // margin: 0 4px;
    // padding: 12px 24px;
    // border-radius: 10px;
    // font-size: 22px;
    margin: 0 4px;
}

.tree_tab img {
    max-width: 200px;
    margin-bottom: 100px;
    width: 100%;
    cursor: pointer;
}

.tree_tab img:hover {
    opacity: 0.6;
}

.tab_container {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -100px;
    padding: 0 15px;
}

.content_title {
    margin: auto;
    max-width: 350px;
}

.content_body {
    display: flex;
}

.content_desc {
    font-family: "Source Sans Pro", sans-serif;
    width: 50%;
    margin: auto 15px;
    font-size: 18px;
}

.content_ending {
    font-family: "Source Sans Pro", sans-serif;
    margin: auto 15px;
    font-size: 18px;
    text-align: center;
}

.content_image {
    width: 50%;
    display: flex;
    height: fit-content;
    align-self: center;
}

.first_word {
    font-weight: bold;
    font-size: 1.5em;
}

.login_btn {
    background: linear-gradient( to top, #65b963 0%, #15a88d 50%, #169ca0 60%, #1891b1 70%, #198bbb 80%, #1a8abf 100%);
    border-radius: 15px;
    width: 120px;
    display: grid;
    padding: 2px;
    width: fit-content;
    align-items: center;
    font-family: "Source Sans Pro", sans-serif;
}

.login_btn a {
    color: #000000;
    text-decoration: none;
}

.nav_btn {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 21px;
    font-weight: bold;
    border-radius: 12px;
    margin: 0px;
    padding: 12px 24px;
    align-items: center;
    background: #fff;
    background: linear-gradient( to top, #65b963 0%, #15a88d 50%, #169ca0 60%, #1891b1 70%, #198bbb 80%, #1a8abf 100%);
    color: #fff;
}

.nav_btn:hover {
    opacity: 0.6;
}

.buynow_container {
    text-align: center;
}

.buynow {
    font-family: "Source Sans Pro", sans-serif;
    background: #e2f2e4;
    padding: 18px 24px;
    border-radius: 20px;
    font-size: 18px;
    margin: 0 4px;
}

#lovetree,
#earthtree {
    scroll-margin: 100px;
}

.partner_container {
    background: #005d50;
    color: #fff;
    padding: 60px 0 48px;
}

.partner_title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 768px) {
    .banner_title {
        font-size: 36px;
    }
    .content_desc,
    .content_ending,
    .buynow {
        font-size: 18px;
        margin-bottom: 42px;
    }
    .content_body {
        margin: 24px 0;
    }
    .reverse_body {
        flex-direction: column-reverse;
        align-items: center;
    }
    .normal_body {
        flex-direction: column;
        align-items: center;
    }
    .content_desc,
    .content_image {
        width: unset;
        text-align: center;
    }
}