<ion-content [fullscreen]="true">
    <!-- <app-pre-navbar> -->
    <div class="site_container">
        <div class="home_container">
            <!-- <img src="../../assets/images/Forest.png"> -->
            <ion-row>
                <ion-col sizeLg="10" offsetLg="1" sizeXs="12">
                    <div class="empty_space"></div>
                    <div class="project_title">
                        Page not found
                        <!-- <div class="dash">-</div>
                      Forest -->
                    </div>
                    <div class="project_subtitle">
                        Did you lose your way? <br>Click here to return to the home page
                    </div>
                    <br><br>
                    <button class="yellow_button" type="submit" [routerLink]="['/']">
                      Go Home
                     </button>
                </ion-col>
            </ion-row>
            <!-- <div> -->
            <img style="margin-bottom: -4px;" src="../../assets/images/e-forest-website-footer-with-text.png">
            <!-- </div> -->
        </div>
    </div>
    <!-- </app-pre-navbar> -->
</ion-content>
