<div>
    <div class="hashtag_container">
        <div class="hashtags">#stopdeforestation</div>
        <div class="hashtags">#savetheearth</div>
    </div>
    <div class="footer_container">
        <div class="footer_top">
            <div class="footer_top_left">
                <img src="../../../assets/images/horizontal_logo.png" height="55" class="ion-hide-sm-down" />
                <img src="../../../assets/images/vertical_logo.png" height="40" class="ion-hide-sm-up" />
            </div>
            <div class="footer_top_right">
                <div class="social_media_container">
                    <a href="https://discord.com/invite/eforest" target="_blank">
                        <img src="../../../assets/images/discord_green.png" />
                    </a>
                    <a href="https://twitter.com/eForestWorld" target="_blank">
                        <img src="../../../assets/images/twitter.png" />
                    </a>
                    <a href="https://www.youtube.com/c/eFORESTWorld" target="_blank">
                        <img src="../../../assets/images/youtube.png" />
                    </a>
                    <a href="http://www.tiktok.com/@eforest.world" target="_blank">
                        <img style="width: 32px; padding-top: 3px" src="../../../assets/images/tiktok.png" />
                    </a>
                </div>
            </div>
        </div>
        <div class="footer_seperator"></div>
        <br />
        <br />
        <div class="footer_bottom">
            <div class="footer_bottom_left">
                ©2022 {{ "EFOREST" | translate }}.
                <span style="white-space: nowrap">{{
          "ALL_RIGHTS_RESERVED" | translate
        }}</span>
            </div>
            <div>{{ "NOT_OPEN_TO_RESIDENT" | translate }}</div>
            <div class="footer_bottom_right">
                <a href="../../../assets/files/eForest -Term of Use_v1.1.pdf" target="_blank">{{ "TERMS_CONDITIONS" | translate }}</a
        >
        <a
          href="../../../assets/files/E-Forest_-Privacy_Policy.pdf"
          target="_blank"
          >{{ "PRIVACY_POLICY" | translate }}</a
        >
      </div>
    </div>
  </div>
</div>
