<app-pre-navbar>
  <div class="site_container" style="height: 100%">
    <div class="home_container">
      <div class="banner_container">
        <img
          class="ion-hide-md-down"
          style="width: 100%"
          src="../../../assets/images/top-bg-seeds-redemption.png"
        />
        <img
          class="ion-hide-md-up"
          src="../../../assets/images/top-bg-m-seeds-redemption.png"
        />
      </div>
      <div class="ion-padding-vertical"></div>
      <div class="ion-padding-vertical"></div>
      <div class="part_title ion-text-center">
        {{ "SEEDS_REDEMPTION" | translate }}
      </div>
      <div class="desc_meet_your_tree ion-text-center">
        {{ "SEEDS_REDEMPTION_INFO" | translate }}
      </div>
    </div>
    <div class="ion-padding-vertical"></div>
    <ion-row>
      <ion-col sizeMd="4" offsetMd="2" sizeXs="10" offsetXs="1">
        <div class="card">
          <img src="../../../assets/images/eFOREST-seeds-redeem-NAC-SG-ENG.png" />
          <div class="card_body">
            <div>National Achievers Congress 2023</div>
            <br>
            <div class="login_btn" style="margin: 15px auto">
              <button class="nav_btn">
                <a
                  target="_blank"
                  href="https://form.jotform.com/231721774268461"
                  style="text-decoration: none"
                >
                  {{ "REDEEM" | translate }}</a
                >
              </button>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col sizeMd="4" offsetMd="0" sizeXs="10" offsetXs="1">
        <div class="card">
          <img src="../../../assets/images/eFOREST-seeds-redeem-UPW-ENG.png" />
          <div class="card_body">
            <div>Tony Robbins Unleash the <br />Power Within</div>
            <div class="login_btn" style="margin: 15px auto">
              <button class="nav_btn">
                <a
                  target="_blank"
                  href="https://form.jotform.com/230888055884066"
                  style="text-decoration: none"
                >
                  {{ "REDEEM" | translate }}</a
                >
              </button>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <div class="ion-padding-vertical"></div>
    <div class="ion-padding-vertical"></div>
    <app-footer></app-footer>
  </div>
</app-pre-navbar>
