.filter_section {
  display: flex;
  align-items: baseline;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  overflow-x: auto;
  padding-bottom: 12px;
}

.date_filter_container {
  display: flex;
}

.date_filter {
  border: 1px solid #005d4f;
  border-radius: 10px;
  padding: 6px 12px;
  margin: 0 4px;
  min-width: 130px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.filter_section2 {
  align-items: baseline;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  overflow-x: auto;
  padding-bottom: 12px;
  margin-top: 50px;
  margin-bottom: 12px;
}

.active_filter {
  background: #005d4f;
  color: #fff;
}

.table_row td {
  text-align: center;
  padding: 10px 18px 10px;
  font-size: 18px;
}

th:first-child {
  text-align: left;
}

th:hover {
  cursor: pointer;
}

.date_filter:hover {
  opacity: 0.7;
}

.active_filter:hover {
  opacity: 1;
}

.table_row td:first-child {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  text-align: left;
  // font-size: 32px;
  // font-weight: bold;
}

.table_row td:last-child {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

.table_wrapper {
  overflow-y: auto;
  // height: 375px;
  padding-bottom: 20px;
}

.table_row {
  background: #fff;
  transform: translate(0, 20px);
  -webkit-transform: translate(0, 20px);
  -moz-transform: translate(0, 20px);
  line-height: 2.5em;
  font-family: "Source Sans Pro", sans-serif;
}

.pagination_container {
  background: #005d4f;
  color: #fff;
  padding: 12px 24px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
}

.pagination {
  display: flex;
}

.pagination div {
  width: 28px;
  height: 28px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active_pagination {
  background: #31a84b;
  color: #fff;
  border-radius: 10px;
}

ion-button {
  font-family: "Source Sans Pro", sans-serif;
}

.table_wrapper::-webkit-scrollbar-thumb,
.filter_section::-webkit-scrollbar-thumb,
.filter_section2::-webkit-scrollbar-thumb {
  background-color: #31a84b;
  border-radius: 10px;
  width: 4px;
  height: 4px;
}

.table_wrapper::-webkit-scrollbar,
.filter_section::-webkit-scrollbar,
.filter_section2::-webkit-scrollbar {
  background-color: #fff;
  width: 4px;
  height: 6px;
}

.table_wrapper::-webkit-scrollbar-thumb:hover,
.filter_section::-webkit-scrollbar-thumb:hover,
.filter_section2::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: #555;
}

@media (max-width: 576px) {
  table {
    width: max-content !important;
  }
  .table_wrapper {
    overflow-y: auto;
    height: 375px;
    overflow-x: auto;
  }
  .pagination_container {
    margin-bottom: 32px;
  }
}
