<div>
  <ion-row>
    <ion-col sizeLg="12" sizeXs="12">
      <div class="rank-info">{{ "BASIC_INFORMATION" | translate }}</div>
      <br />
      <div class="profile_card_container">
        <ion-row>
          <ion-col
            sizeMd="12"
            sizeLg="12"
            sizeXl="2"
            sizeSm="12"
            sizeXs="12"
            class="flex_column"
          >
            <div class="profile_image">
              <img
                src="../../../assets/images/profile_icon.png"
                class="img-responsive center-block"
              />
            </div>
            <!-- <div class="ion-text-center username">{{userDetails?.username}}</div> -->
          </ion-col>
          <ion-col sizeMd="12" sizeLg="12" sizeXl="10" sizeSm="12" sizeXs="12">
            <div class="profile_card_right">
              <!-- <div class="basic_info">Basic Information</div> -->
              <ion-row>
                <ion-col
                  sizeMd="12"
                  sizeLg="12"
                  sizeXl="8"
                  sizeSm="12"
                  sizeXs="12"
                  class="flex_column"
                >
                  <!-- <div class="input_form"> -->
                  <!-- <div class="input_desc">{{ "NAME" | translate }}:</div> -->
                  &nbsp;
                  <!-- <div class="input_field">
                                            {{ userDetails?.fullname }}
                                        </div> -->
                  <form [formGroup]="profileForm">
                    <ion-item
                      class="profile_edit input_readonly"
                      id="fullNameItem"
                    >
                      <ion-label>{{ "NAME" | translate }}:</ion-label>
                      <ion-input
                        #fullName
                        [readonly]="fullNameInput?.readonly"
                        formControlName="fullname"
                        [style]="{
                          'font-weight': fullName?.readonly ? 'bold' : '400'
                        }"
                      ></ion-input>
                      <ion-icon
                        [name]="
                          fullName?.readonly
                            ? 'create-outline'
                            : 'checkmark-outline'
                        "
                        slot="end"
                        style="cursor: pointer"
                        (click)="
                          fullName.readonly = !fullName.readonly;
                          editName(fullName?.readonly)
                        "
                      ></ion-icon>
                    </ion-item>
                  </form>
                  <!-- </div> -->
                  <!-- <br class="ion-hide-xl-down" /> -->
                  <div class="input_form">
                    <div class="input_desc">{{ "USERNAME" | translate }}:</div>
                    &nbsp;
                    <div class="input_field">
                      {{ userDetails?.username }}
                    </div>
                  </div>
                  <br />
                  <div class="input_form">
                    <div class="input_desc">{{ "EMAIL" | translate }}:</div>
                    &nbsp;
                    <div class="input_field">
                      {{ userDetails?.email }}
                    </div>
                  </div>
                  <br />
                  <div class="input_form">
                    <div class="input_desc">
                      {{ "INVITED_BY" | translate }}:
                    </div>
                    &nbsp;
                    <div class="input_field">
                      {{ userDetails?.upline_username }}
                    </div>
                  </div>
                  <br />
                  <div class="input_form">
                    <div class="input_desc">
                      {{ "JOINED_DATE" | translate }}:
                    </div>
                    &nbsp;
                    <div class="input_field">{{ joinDate }}</div>
                  </div>
                </ion-col>
                <!-- <ion-col sizeMd="12" sizeLg="12" sizeXl="4" sizeSm="12" sizeXs="12" class="flex_column">
                                    <div class="input_form">
                                        <div class="input_desc">Invited:</div>
                                        &nbsp;
                                        <div class="input_field">
                                            {{ userDetails?.upline_username }}
                                        </div>
                                    </div>
                                    <br class="ion-hide-xl-down" />
                                    <div class="input_form">
                                        <div class="input_desc">Joined Date:</div>
                                        &nbsp;
                                        <div class="input_field">{{ joinDate }}</div>
                                    </div>
                                </ion-col> -->
                <ion-col sizeMd="12" sizeXs="12" sizeXl="4">
                  <div class="button_container">
                    <!-- <div class="button_desc" (click)="onReferralInfoButton()">
                      {{ "MY_REFERRAL_LINK" | translate }}
                    </div> -->
                    <br />
                    <div class="button_desc" id="change_password">
                      {{ "CHANGE_PASSWORD" | translate }}
                    </div>
                    <br />
                    <div class="button_desc" (click)="onBeneficiaryButton()">
                      {{ "BENEFICIARY_LINK" | translate }}
                    </div>
                  </div>
                  <!-- <div
                    class="button_desc ion-hide-md-down"
                    (click)="onReferralInfoButton()"
                  >
                    My Referral Link
                  </div>
                  <br />
                  <div
                    class="button_desc ion-hide-md-down"
                    id="change_password"
                  >
                    Change Password
                  </div> -->
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
      </div>
      <div class="rank-container">
        <ion-row>
          <ion-col>
            <div class="package_title">
              <b>{{ "MY_STATUS" | translate }}</b>
            </div>
            <br />
            <div class="status_container" id="status_scroll_profile">
              <div
                class="status"
                [ngClass]="userDetails?.rank == 0 ? 'status_active' : ''"
              >
                {{ "FORESTER" | translate }}
              </div>
              <div
                class="status"
                [ngClass]="userDetails?.rank == 11 ? 'status_active' : ''"
              >
                {{ "1_STAR_FORESTER" | translate }}
              </div>
              <div
                class="status"
                [ngClass]="userDetails?.rank == 22 ? 'status_active' : ''"
              >
                {{ "2_STAR_FORESTER" | translate }}
              </div>
              <div
                class="status"
                [ngClass]="userDetails?.rank == 33 ? 'status_active' : ''"
              >
                {{ "3_STAR_FORESTER" | translate }}
              </div>
              <div
                class="status"
                [ngClass]="userDetails?.rank == 1 ? 'status_active' : ''"
              >
                {{ "1_STAR" | translate }}<br />
                {{ "RANGER" | translate }}
              </div>
              <div
                class="status"
                [ngClass]="userDetails?.rank == 2 ? 'status_active' : ''"
              >
                {{ "2_STAR" | translate }}<br />{{ "RANGER" | translate }}
              </div>
              <div
                class="status"
                [ngClass]="userDetails?.rank == 3 ? 'status_active' : ''"
              >
                {{ "3_STAR" | translate }}<br />{{ "RANGER" | translate }}
              </div>
              <div
                class="status"
                [ngClass]="userDetails?.rank == 4 ? 'status_active' : ''"
              >
                {{ "4_STAR" | translate }}<br />{{ "RANGER" | translate }}
              </div>
              <div
                class="status"
                [ngClass]="userDetails?.rank == 5 ? 'status_active' : ''"
              >
                {{ "5_STAR" | translate }}<br />{{ "RANGER" | translate }}
              </div>
              <div
                class="status"
                [ngClass]="userDetails?.rank == 6 ? 'status_active' : ''"
              >
                {{ "PARTNER" | translate }}
              </div>
              <div
                class="status"
                [ngClass]="userDetails?.rank == 7 ? 'status_active' : ''"
              >
                {{ "SENIOR_PARTNER" | translate }}
              </div>
            </div>

            <!-- <div class="rank-level-container">
                                <ion-row>
                                    <ion-col sizeMd="6" sizeXs="12">
                                        <div class="level-label">
                                            <div class="rank-level">
                                                <p class="ion-no-margin ranking_value"><b>5</b></p>
                                                <p class="ion-no-margin ranking_desc">Direct</p>
                                            </div>
                                        </div>
                                    </ion-col>
                                    <ion-col sizeMd="6" sizeXs="12">
                                        <div>
                                            <div class="rank-level">
                                                <p class="ion-no-margin ranking_value"><b>250K</b></p>
                                                <p class="ion-no-margin ranking_desc">Team Volume</p>
                                            </div>
                                        </div>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col>
                                        <div class="benefit-container">
                                            <p class="ion-no-margin ranking_desc">Benefit</p>
                                            <div class="benefit-desc">
                                                <p class="ion-no-margin">Daily Cap +200</p>
                                            </div>
                                        </div>
                                    </ion-col>
                                </ion-row>
                            </div> -->
          </ion-col>
        </ion-row>
      </div>
      <ion-modal trigger="change_password">
        <ng-template>
          <div class="site_container">
            <!-- <div class="home_container" style="height: 100%"> -->
            <ion-toolbar>
              <!-- <ion-title style="text-align: center; font-size: 25px; ">Change Password
                                            </ion-title> -->
              <ion-buttons slot="end">
                <ion-button slot="end" (click)="onDismiss()">
                  <ion-icon color="white" name="close"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>

            <ion-row>
              <ion-col sizeLg="10" offsetLg="1" sizeXs="12">
                <div class="project_subtitle">
                  <b>{{ "CHANGE_PASSWORD" | translate }}</b>
                </div>
                <br />
                <form [formGroup]="form" (ngSubmit)="onRegister()">
                  <ion-row>
                    <ion-col sizeXs="12 " sizeSm="12 ">
                      <ion-item>
                        <ion-label position="floating"
                          >{{ "CURRENT_PASSWORD" | translate }}
                          <span style="color: red">*</span></ion-label
                        >
                        <ion-input
                          type="password"
                          formControlName="curr_password"
                        >
                        </ion-input>
                      </ion-item>
                      <div
                        *ngIf="submitted && form.controls.curr_password.errors"
                        class="validator-error"
                      >
                        {{ "PLEASE_ENTER_A_VALID_PASSWORD" | translate }}.
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col sizeXs="12 " sizeSm="6 ">
                      <ion-item>
                        <ion-label position="floating"
                          >{{ "PASSWORD" | translate }}
                          <span style="color: red">*</span></ion-label
                        >
                        <ion-input type="password" formControlName="password">
                        </ion-input>
                      </ion-item>
                      <div
                        *ngIf="submitted && form.controls.password.errors"
                        class="validator-error"
                      >
                        {{ "PLEASE_ENTER_A_VALID_PASSWORD" | translate }}.
                      </div>
                    </ion-col>
                    <ion-col sizeXs="12 " sizeSm="6 ">
                      <ion-item>
                        <ion-label position="floating "
                          >{{ "CONFIRM_PASS" | translate }}
                          <span style="color: red">*</span></ion-label
                        >
                        <ion-input
                          type="password"
                          formControlName="password_confirm"
                        >
                        </ion-input>
                      </ion-item>
                      <div
                        *ngIf="
                          submitted && form.controls.password_confirm.errors
                        "
                        class="validator-error"
                      >
                        {{ "PASSWORD_NOT_MATCH" | translate }}
                      </div>
                    </ion-col>
                  </ion-row>
                  <div class="passoword-requirement">
                    <span
                      ><i> *{{ "MINIMUM_EIGHT_CHARACTER" | translate }}.</i>
                    </span>
                  </div>
                  <button class="button_submit" type="submit ">
                    {{ "SUBMIT" | translate }}
                  </button>
                </form>
              </ion-col>
            </ion-row>
            <!-- </div> -->
          </div>
        </ng-template>
      </ion-modal>
    </ion-col>
  </ion-row>
</div>
