<div>
  <div class="greetings_container">
    <img class="profile_image" src="../../../assets/images/profile.png" />
    <div>
      {{ "HI" | translate }} <span class="username">{{ first_name }}</span
      >, {{ "WELCOME_BACK" | translate }}
    </div>
  </div>
  <br />
  <div class="footer_seperator"></div>
  <br />
  <ion-row>
    <ion-col sizeXs="12" sizeMd="12" sizeLg="12">
      <div class="package_title">
        <b>{{ "PERSONAL_INFO" | translate }}</b>
      </div>
      <div class="info_container">
        <div class="info">
          <div>{{ "INVITED_BY" | translate }}:</div>
          <div>
            <b>{{ userDetails?.upline_username }}</b>
          </div>
        </div>
        <div class="info">
          <div>{{ "JOINED" | translate }}:</div>
          <div>
            <b>{{ joinedDate | date : "d MMM YYYY" }}</b>
          </div>
        </div>
        <div class="info">
          <div>{{ "USERNAME" | translate }}:</div>
          <div>
            <b>{{ userDetails?.username }}</b>
          </div>
        </div>
      </div>
    </ion-col>
    <!-- <ion-col sizeXs="12" sizeMd="12" sizeLg="6">
      <div class="package_title">
        <b>{{ "MY_REFERRAL_LINK" | translate }}</b>
      </div>
      <div class="info_container">
        <div class="referral_container">
          <div
            style="text-overflow: ellipsis; overflow: hidden; white-space: pre"
          >
            {{ referralUrl }}
          </div>
          <div class="button_container">
            <div class="button_desc" (click)="copyString()">
              {{ "COPY" | translate }}
            </div>
            <div class="button_desc" (click)="presentActionSheet()">
              {{ "SHARE" | translate }}
            </div>
          </div>
        </div>
      </div>
    </ion-col> -->
  </ion-row>
  <br />
  <div class="package_title">
    <b>{{ "MY_STATUS" | translate }}</b>
  </div>
  <br />
  <div class="status_container">
    <div
      class="status"
      [ngClass]="userDetails?.rank == 0 ? 'status_active' : ''"
    >
      {{ "FORESTER" | translate }}
    </div>
    <div
      class="status"
      [ngClass]="userDetails?.rank == 11 ? 'status_active' : ''"
    >
      {{ "1_STAR_FORESTER" | translate }}
    </div>
    <div
      class="status"
      [ngClass]="userDetails?.rank == 22 ? 'status_active' : ''"
    >
      {{ "2_STAR_FORESTER" | translate }}
    </div>
    <div
      class="status"
      [ngClass]="userDetails?.rank == 33 ? 'status_active' : ''"
    >
      {{ "3_STAR_FORESTER" | translate }}
    </div>
    <div
      class="status"
      [ngClass]="userDetails?.rank == 1 ? 'status_active' : ''"
    >
      {{ "1_STAR" | translate }}<br />
      {{ "RANGER" | translate }}
    </div>
    <div
      class="status"
      [ngClass]="userDetails?.rank == 2 ? 'status_active' : ''"
    >
      {{ "2_STAR" | translate }}<br />{{ "RANGER" | translate }}
    </div>
    <div
      class="status"
      [ngClass]="userDetails?.rank == 3 ? 'status_active' : ''"
    >
      {{ "3_STAR" | translate }}<br />{{ "RANGER" | translate }}
    </div>
    <div
      class="status"
      [ngClass]="userDetails?.rank == 4 ? 'status_active' : ''"
    >
      {{ "4_STAR" | translate }}<br />{{ "RANGER" | translate }}
    </div>
    <div
      class="status"
      [ngClass]="userDetails?.rank == 5 ? 'status_active' : ''"
    >
      {{ "5_STAR" | translate }}<br />{{ "RANGER" | translate }}
    </div>
    <div
      class="status"
      [ngClass]="userDetails?.rank == 6 ? 'status_active' : ''"
    >
      {{ "PARTNER" | translate }}
    </div>
    <div
      class="status"
      [ngClass]="userDetails?.rank == 7 ? 'status_active' : ''"
    >
      {{ "SENIOR_PARTNER" | translate }}
    </div>
  </div>
</div>
