.package_title {
  font-size: 32px;
  // display: flex-end;
  align-items: end;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.item_padding {
  padding-left: 15px;
  padding-right: 15px;
}

.package_title img {
  max-width: 55px;
  margin-right: 12px;
}

.package_purchase {
  background: #fff;
  padding: 15px 14px;
  border-radius: 5px;
  border-color: black;
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
}

.button_desc {
  font-size: 18px;
  background-color: #def3e3;
  cursor: pointer;
  padding: 8px 15px;
  border-radius: 5px;
  width: fit-content;
  min-width: 100px;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  color: #000;
  margin-right: -6px;
}

.granstander_font {
  font-family: "Grandstander", cursive;
}

.table_row td {
  text-align: center;
  padding: 10px 18px 2px;
  font-size: 18px;
  line-height: 1.6;
}

th:first-child {
  text-align: left;
}

.table_row td:first-child {
  // border-top-left-radius: 18px;
  // border-bottom-left-radius: 18px;
  text-align: left;
  // font-size: 32px;
  // font-weight: bold;
}

.table_row td:last-child {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

.table_wrapper {
  overflow-y: auto;
  height: 375px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #005d4f;
}

/* Handle */

.table_wrapper::-webkit-scrollbar-thumb,
.filter_section::-webkit-scrollbar-thumb {
  background-color: #31a84b;
  border-radius: 10px;
  width: 4px;
  height: 4px;
}

.table_wrapper::-webkit-scrollbar,
.filter_section::-webkit-scrollbar {
  background-color: #fff;
  width: 4px;
  height: 6px;
}

.table_wrapper::-webkit-scrollbar-thumb:hover,
.filter_section::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: #555;
}

@media (max-width: 768px) {
  .table_row {
    line-height: 1.3;
  }
}

@media (max-width: 576px) {
  .package_title {
    display: block;
  }
  ion-item {
    margin-top: 18px !important;
  }
}

.table_row {
  background: #fff;
  transform: translate(0, 20px);
  -webkit-transform: translate(0, 20px);
  -moz-transform: translate(0, 20px);
  line-height: 3em;
  font-family: "Source Sans Pro", sans-serif;
}

.date_filter {
  border: 1px solid #005d4f;
  border-radius: 10px;
  padding: 6px 24px;
  margin: 0 4px;
  min-width: 145px;
  text-align: center;
  cursor: pointer;
}

.date_filter_container {
  display: flex;
}

.filter_section {
  display: flex;
  align-items: baseline;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  overflow-x: auto;
  padding-bottom: 12px;
}

.filter_section2 {
  align-items: baseline;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  overflow-x: auto;
  padding-bottom: 24px;
}

.active_filter {
  background: #005d4f;
  color: #fff;
}

.pagination_container {
  background: #005d4f;
  color: #fff;
  padding: 12px 24px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
}

.pagination {
  display: flex;
}

.pagination div {
  width: 28px;
  height: 28px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active_pagination {
  background: #31a84b;
  color: #fff;
  border-radius: 10px;
}

// ion-item {
//   border-radius: 10px;
//   max-width: 400px;
//   font-size: 18px;
//   margin: 0 0 0 auto;
//   border-radius: 10px;
//   font-size: 18px;
//   border: 1px dashed #31a84b;
//   --padding-start: 8px;
// }
.button_desc {
  font-size: 18px;
  background-color: #def3e3;
  cursor: pointer;
  padding: 15px;
  border-radius: 15px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 200px;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  box-shadow: 4px 4px 2px 0px #413c3c7d;
  border: 1px solid;
  color: #000000;
  margin: 0 6px;
}

.button_desc:hover,
.button_submit:hover {
  opacity: 0.6;
}

.button_container {
  display: flex;
  // background: #fff;
  padding: 6px 4px;
  border-radius: 10px;
}

.site_container {
  background: url(../../../assets/images/bg/bg-for-dashboard-site.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
}

.project_subtitle {
  font-family: "Grandstander", cursive;
  font-size: 32px;
  margin: 0px auto 0px;
}

ion-item {
  // --background: rgba(255, 255, 255, 0.4);
  --highlight-color-focused: red;
  --border-width: 0;
  border: 2px dashed #fff;
  // --color-focused: #FFFC28;
  font-size: 18px;
  border-radius: 16px;
  font-family: "Source Sans Pro", sans-serif;
  color: #b3b3b3;
  background: linear-gradient(#fff, #fff) padding-box
      /* Don't extend this to border */,
    linear-gradient(
      to top,
      #65b963 0%,
      #15a88d 50%,
      #169ca0 60%,
      #1891b1 70%,
      #198bbb 80%,
      #1a8abf 100%
    );
  //background: linear-gradient(#fff,#fff) padding-box /* Don't extend this to border */, linear-gradient(to bottom, #4fc3f7, #ab5ca4 49%, #ff512f) border-box;
  color: #000;
  margin-bottom: 8px;
  align-items: center;
}

ion-item.item-has-focus > ion-label {
  color: red !important;
  font-weight: 700;
}

ion-input,
ion-label {
  font-family: "Source Sans Pro", sans-serif !important;
}

.formModal ion-toolbar {
  --background: transparent;
}

.button_submit {
  font-size: 18px;
  background-color: #def3e3;
  cursor: pointer;
  padding: 15px;
  border-radius: 15px;
  width: fit-content;
  min-width: 200px;
  // text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  margin: auto auto 30px;
  display: flex;
  justify-content: center;
  box-shadow: 4px 4px 2px 0px #413c3c7d;
  border: 1px solid #000000;
  color: #000000;
}

.passoword-requirement {
  margin-left: 6px;
  margin-top: 15px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
}

.otp_btn {
  font-family: "Source Sans Pro", sans-serif;
  --background: #def3e3;
  color: #000;
  font-size: 16px;
  text-transform: inherit;
  font-weight: 600;
  height: 32px;
  letter-spacing: inherit;
}

.validator-error {
  color: red;
  text-align: left;
  font-family: "Source Sans Pro", sans-serif !important;
}

#usdtTable ion-icon {
  color: #005d4f;
}

#usdtTable th:hover {
  cursor: pointer;
}

@media (max-width: 420px) {
  table {
    width: max-content !important;
  }
  .table_wrapper {
    overflow-y: auto;
    height: 375px;
    overflow-x: auto;
  }
  .table_row td {
    min-width: 120px;
  }
}

@media (max-width: 576px) {
  .button_desc {
    font-size: 16px;
    padding: 12px 4px;
    min-width: unset;
    // max-width: 150px;
    margin: 0 6px;
    width: 100%;
  }
  .button_container {
    justify-content: space-around;
  }
}
