<div>
  <div class="package_title">
    <div>
      <img src="../../../assets/images/nav_wallet.png" />
      <b>{{ "USDT_WALLET" | translate }}</b>
    </div>
    <div class="button_container">
      <div class="button_desc" (click)="isDepositOpen = true">
        {{ "DEPOSIT_USDT" | translate }}
      </div>
      <div class="button_desc" (click)="isWithdrawOpen = true">
        {{ "WITHDRAW_USDT" | translate }}
      </div>
    </div>
    <!-- <form [formGroup]="form" (ngSubmit)="purchasePackage()">
            <ion-item>
                <ion-label style="font-family: 'Source Sans Pro', sans-serif" position="fixed">{{ "AMOUNT" | translate }} :
                    <span style="color: red">*</span></ion-label>
                <ion-input style="font-family: 'Source Sans Pro', sans-serif" required detail-none formControlName="bef_name"></ion-input>
                <button slot="end" class="button_desc" type="submit">
          <b>{{ "DEPOSIT_USDT" | translate }}</b>
        </button>
            </ion-item>
        </form> -->
  </div>

  <!-- <div *ngIf="submitted && form.controls.password.errors" class="validator-error">
                  {{'PLEASE_ENTER_A_VALID_PASSWORD' | translate}}.
              </div> -->

  <br /><br />
  <div *ngIf="this.is_loading == false">
    <div *ngIf="this.bonusList.data.items.length > 0" class="table_wrapper">
      <table
        id="usdtTable"
        style="width: 100%; border-collapse: separate; border-spacing: 0 6px"
      >
        <tr>
          <th (click)="sortTable(0)">
            {{ "CREATED_AT" | translate }}
            <ion-icon
              [id]="'arrows_usdt_' + 0"
              [name]="'caret-up-outline'"
            ></ion-icon>
          </th>
          <th (click)="sortTable(1)">
            {{ "REFERENCE_NUMBER" | translate }}
            <ion-icon
              [id]="'arrows_usdt_' + 1"
              [name]="'caret-up-outline'"
              [hidden]="true"
            ></ion-icon>
          </th>
          <th (click)="sortTable(2)">
            {{ "IN" | translate }}
            <ion-icon
              [id]="'arrows_usdt_' + 2"
              [name]="'caret-up-outline'"
              [hidden]="true"
            ></ion-icon>
          </th>
          <th (click)="sortTable(3)">
            {{ "OUT" | translate }}
            <ion-icon
              [id]="'arrows_usdt_' + 3"
              [name]="'caret-up-outline'"
              [hidden]="true"
            ></ion-icon>
          </th>
          <th (click)="sortTable(4)">
            {{ "TRANSACTION_TYPE" | translate }}
            <ion-icon
              [id]="'arrows_usdt_' + 4"
              [name]="'caret-up-outline'"
              [hidden]="true"
            ></ion-icon>
          </th>
          <th (click)="sortTable(5)">
            {{ "REMARKS" | translate }}
            <ion-icon
              [id]="'arrows_usdt_' + 5"
              [name]="'caret-up-outline'"
              [hidden]="true"
            ></ion-icon>
          </th>
        </tr>
        <tr *ngFor="let order of bonusList.data.items" class="table_row">
          <td>
            {{ order?.datetime.substring(0, 10) }}
          </td>
          <td>
            {{ order?.txn_ref }}
          </td>
          <td>{{ numberWithCommas(order?.txn_in) }}</td>
          <td>{{ numberWithCommas(order?.txn_out) }}</td>
          <td>{{ getTxnType(order?.update_type_id) }}</td>
          <td>{{ order?.remarks }}</td>
          <!-- <div *ngIf="this.order.update_type == 'N/A'">
                        <td>-</td>
                    </div>
                    <div *ngIf="this.order.update_type != 'N/A'">
                        <td>{{ order?.update_type }}</td>
                    </div> -->
        </tr>
      </table>
    </div>
    <div *ngIf="this.bonusList.data.items.length == 0" class="table_wrapper">
      <div style="text-align: center" class="table_row">
        {{ "NO_DATA" | translate }}
      </div>
    </div>
    <br />
    <!-- <div *ngIf="this.bonusList.data.items.length > 0" class="pagination_container">
    <div class="total_page">
      {{ 'SHOWING' | translate }} <b>{{ this.entry }}</b> of <b>{{ totalEntry }}</b>
    </div>
    <div class="pagination">
      <div class="pagination_cursor">
        <ion-icon (click)="lessPage()" name="chevron-back-outline"></ion-icon>
      </div>
      <div [ngClass]="this.page == a ? 'active_pagination' : ''" *ngFor="let a of this.displayPages">{{ a }}</div>
      <div class="pagination_cursor">
        <ion-icon (click)="addPage()" name="chevron-forward-outline"></ion-icon>
      </div>
    </div>
  </div> -->
  </div>
  <div *ngIf="this.is_loading == true"></div>
  <!-- to open up deposit usdt url -->
  <ion-modal [isOpen]="!!paymentUrl">
    <ng-template>
      <div class="site_container" style="height: 100%">
        <ion-toolbar>
          <!-- <ion-title style="text-align: center; font-size: 25px;">Forget Password</ion-title> -->
          <ion-buttons slot="end">
            <ion-button slot="end" (click)="dismissModal()">
              <ion-icon color="white" name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
        <iframe
          frameborder="0"
          width="100%"
          height="100%"
          [src]="paymentUrl"
        ></iframe>
      </div>
    </ng-template>
  </ion-modal>
  <!-- to open up deposit usdt form -->
  <ion-modal
    [isOpen]="!!isDepositOpen"
    (ionModalDidDismiss)="dismissModal()"
    class="formModal"
  >
    <ng-template>
      <div class="site_container" style="height: 100%">
        <ion-toolbar>
          <!-- <ion-title style="text-align: center; font-size: 25px;">Forget Password</ion-title> -->
          <ion-buttons slot="end">
            <ion-button slot="end" (click)="dismissModal()">
              <ion-icon color="white" name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-row>
          <ion-col sizeLg="10" offsetLg="1" sizeXs="12">
            <div class="project_subtitle">
              <b>{{ "DEPOSIT_USDT" | translate }}</b>
            </div>
            <br />
            <ion-col sizeXs="12" sizeSm="12">
              <form [formGroup]="form" (ngSubmit)="purchasePackage()">
                <ion-item>
                  <ion-label position="floating"
                    >{{ "AMOUNT" | translate }}
                    <span style="color: red">*</span></ion-label
                  >
                  <ion-input
                    style="font-family: 'Source Sans Pro', sans-serif"
                    required
                    detail-none
                    formControlName="bef_name"
                  ></ion-input>
                </ion-item>
                <br /><br />
                <button class="button_submit" type="submit">
                  {{ "SUBMIT" | translate }}
                </button>
              </form>
            </ion-col>
          </ion-col>
        </ion-row>
      </div>
    </ng-template>
  </ion-modal>
  <ion-modal
    [isOpen]="!!isWithdrawOpen"
    (ionModalDidDismiss)="dismissModal()"
    class="formModal"
  >
    <ng-template>
      <div class="site_container" style="height: 100%">
        <ion-toolbar>
          <!-- <ion-title style="text-align: center; font-size: 25px;">Forget Password</ion-title> -->
          <ion-buttons slot="end">
            <ion-button slot="end" (click)="dismissModal()">
              <ion-icon color="white" name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-row>
          <ion-col sizeLg="10" offsetLg="1" sizeXs="12">
            <div class="project_subtitle">
              <b>{{ "WITHDRAW_USDT" | translate }}</b>
            </div>
            <!-- <br /> -->
            <ion-col sizeXs="12" sizeSm="12">
              <form [formGroup]="usdtOTPForm" (ngSubmit)="withdrawUSDT()">
                <ion-item>
                  <ion-label position="floating"
                    >{{ "WALLET_ADDRESS" | translate }}
                    <span style="color: red">*</span></ion-label
                  >
                  <ion-input
                    style="font-family: 'Source Sans Pro', sans-serif"
                    required
                    detail-none
                    formControlName="wallet_address"
                  ></ion-input>
                </ion-item>
                <div
                  *ngIf="
                    submitted && usdtOTPForm.controls.wallet_address.errors
                  "
                  class="validator-error"
                >
                  {{ "PASSWORD_NOT_MATCH" | translate }}
                </div>
                <ion-item>
                  <ion-label position="floating"
                    >{{ "AMOUNT" | translate }}
                    <span style="color: red">*</span></ion-label
                  >
                  <ion-input
                    style="font-family: 'Source Sans Pro', sans-serif"
                    required
                    detail-none
                    formControlName="amount"
                    type="number"
                  ></ion-input>
                </ion-item>
                <div
                  *ngIf="submitted && usdtOTPForm.controls.amount.errors"
                  class="validator-error"
                >
                  {{ "PASSWORD_NOT_MATCH" | translate }}
                </div>
                <ion-item>
                  <ion-label position="floating"
                    >{{ "OTP_CODE" | translate }}
                    <span style="color: red">*</span></ion-label
                  >
                  <ion-input
                    style="font-family: 'Source Sans Pro', sans-serif"
                    required
                    detail-none
                    type="number"
                    max="6"
                    (ionInput)="otpValueChange($event)"
                  ></ion-input>
                  <ion-button
                    slot="end"
                    class="otp_btn"
                    (click)="requestOTP()"
                    [disabled]="otpDisabled"
                    id="otp_btn"
                    >{{ "SEND_OTP" | translate }}
                  </ion-button>
                </ion-item>
                <!-- <div class="passoword-requirement">
                  <span style="padding-bottom: 3px"
                    ><i> *{{ "WITHDRAW_USDT_TIPS" | translate }}.</i>
                  </span>
                </div> -->
                <div class="passoword-requirement">
                  <span
                    ><i> *{{ "WITHDRAW_USDT_TIPS_PROMO" | translate }}.</i>
                  </span>
                </div>
                <br /><br />
                <button class="button_submit" type="submit">
                  {{ "SUBMIT" | translate }}
                </button>
              </form>
            </ion-col>
          </ion-col>
        </ion-row>
      </div>
    </ng-template>
  </ion-modal>
</div>
